<div class="container-fluid quehacemos-main-header">
</div>
<div class="container-fluid white-background">
    <div class="row">
        <div class="col-md-10 offset-md-1 text-center up-margin">
            <h1 class="main-title">¿QUÉ HACEMOS?</h1>

            <div class="outter-container">
                <ul class="nav nav-tabs">
                    <li class="nav-item ">
                        <a class="nav-link active text-center" data-toggle="tab" href="#programas-virtuales" role="tab" aria-controls="programas-virtuales" aria-selected="true" >Programas virtuales</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-center" data-toggle="tab" href="#asignaturas-virtuales" role="tab" aria-controls="asignaturas-virtuales" aria-selected="true">Asignaturas virtuales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" data-toggle="tab" href="#incorporacion-tic" role="tab" aria-controls="incorporacion-tic" aria-selected="true">Incorporación de las tic</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" data-toggle="tab" href="#evirtual-grupo" role="tab" aria-controls="evirtual-grupo" aria-selected="true">E-virtual grupo de investigación</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content text-left" id="quehacemos-tabcontent">
                <div class="tab-pane fade show active" id="programas-virtuales" role="tabpanel" aria-labelledby="programas-virtuales-tab">
                   <p><strong>La Univesidad de Medellín ofrece los siguientes posgrados virtuales</strong> </p>
                   <ol>
                       <li><a href="http://www.udem.edu.co/index.php/programas-de-posgrado/2012-10-01-15-18-37/contratacion-estatal-100-virtual" target="_blank">Especialización en Contratación Estatal (Facultad de Derecho)</a></li>
                       <li><a href="http://www.udem.edu.co/index.php/2012-10-12-14-32-39/2012-10-12-14-33-37/estudios-politicos-y-constitucionales-virtual" target="_blank">Especialización en Estudios Políticos y Constitucionales (Facultad de Ciencias Sociales y Humanas)</a></li>
                       <li><a href="http://www.udem.edu.co/index.php/2012-10-12-12-58-54/especializaciones/comunicacion-estrategica-para-la-web-modalidad-virtual" target="_blank">Especialización en Comunicación estratégica para la Web (Facultad de Comunicación)</a></li>
                       <li><a href="http://www.udem.edu.co/index.php/programas-de-posgrado/2012-10-01-15-18-37/derecho-probatorio-penal-100-virtual" target="_blank">Especialización en Derecho Probatorio Penal (Facultad de Derecho en convenio con la UCN)</a></li>
                   </ol>
                   <p><strong>Y el pregrado en:</strong> </p>
                   <ul>
                       <li><a href="http://www.udem.edu.co/index.php/programas-de-pregrado/investigacion-criminal-virtual/informacion-general-investigacion-criminal-virtual" target="_blank">Investigación Criminal (Facultad de Derecho en convenio con la UCN)</a></li>
                   </ul>
                </div>
                <div class="tab-pane fade" id="asignaturas-virtuales" role="tabpanel" aria-labelledby="asignaturas-virtuales-tab">
                    
                    <div class="row">
                        <div class="col-md-12">
                                <table class="table table-bordered table-responsive">
                                    <thead>
                                        <tr>
                                            <th scope="col">Facultad/Dependencias</th>
                                            <th scope="col">Asignaturas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="2">Bienestar Universitario</td>
                                            <td>Guitarra</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Actividad Deportiva</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2">Facultad de Ciencias Sociales y Humanas</td>
                                            <td>Expresión Escrita</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Libre Elección TIC</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="4">Facultad Ciencias Básicas </td>
                                            <td>Álgebra y Trigonometría</td>
                                        </tr>
                                        <tr>
                                            <td>Cálculo Diferencial</td>
                                        </tr>
                                        <tr>
                                            <td>Física I</td>
                                        </tr>
                                        <tr>
                                            <td>Física II</td>
                                        </tr>
                                        <tr>
                                            <td>Facultad de Ingenierías</td>
                                            <td>Fundamentos de programación</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                        </div>
                    </div>


                </div>
                <div class="tab-pane fade" id="incorporacion-tic" role="tabpanel" aria-labelledby="incorporacion-tic-tab">

                        <ol>
                            <li>Evaluaciones virtuales parciales y finales unificadas</li>
                            <li>Encuestas de satisfacción en la plataforma UVirtual, para las diferentes dependencias de la Universidad</li>
                            <li>Aplicación de instrumentos de medición desde la plataforma UVirtual para diferentes áreas de la universidad</li>
                            <li>Apoyo desde la plataforma UVirtual a las asignaturas presenciales en pregrado y posgrado</li>
                            <li>Implementación de cursos y diplomados virtuales para el Plan Integral de Actualización Profesoral como:
                                <ul>
                                    <li>Diplomado: Manejo de Moodle para profesores</li>
                                    <li>Diplomado: Escritura de contenidos para la virtualidad</li>
                                    <li>Curso: Herramientas TIC como apoyo a procesos de enseñanza – aprendizaje</li>
                                    <li>Curso: Estrategias didácticas para la Interacción Comunicativa en Entornos Virtuales de Aprendizaje
                                    <li>Curso: Creación y montaje de cursos Mooc</li>
                                </ul>
                            </li>
                            <li>Saber Pro: Implementación de espacio virtual para el apoyo a los estudiantes que presentaran las pruebas ICFES Saber Pro</li>
                            <li>Curso de Inducción institucional virtual para todos los empleados de la universidads</li>
                            <li>Capacitación de tratamiento de datos personales virtual para los empleados de la universidad</li>
                        </ol>

                    
                        
                </div>
                <div class="tab-pane fade" id="evirtual-grupo" role="tabpanel" aria-labelledby="evirtual-grupo-tab">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis odio dolores reiciendis dignissimos perferendis debitis laboriosam maxime aspernatur itaque dolorum dolor, sit ducimus aliquid harum facilis nostrum amet. Nostrum, laborum!
                    Excepturi incidunt tempore nemo, quasi eaque beatae est illum sint maxime harum exercitationem maiores. Repellendus, in eaque! Dolore necessitatibus reprehenderit nemo. Aspernatur quas quo, expedita eos sequi omnis quos mollitia?</p>
                </div>            
            </div>

            
        </div>
    </div>
</div>