<div class="container-fluid up-margin white-background">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="main-title">MODELO PEDAGÓGICO</h1>
            <p>El modelo pedagógico de la Universidad de Medellín, en su pilar de gestión, incluye la modalidad de educación a distancia con metodología virtual, esta metodología debe incluír Objeto Virtual de Aprendizaje, Entorno Virtual de Aprendizaje
                e Interacciones Comunicativas:</p>
            <img src="assets/12_modelo_pedagogico.png" alt="Modelo Pedagógico UdeM" class="img-fluid">
        </div>
    </div>
</div>
