<div class="container-fluid up-margin white-background">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="main-title">PLAN DE DESARROLLO</h1>
            <p>Fortalecer la apropiación de las Tecnologías de la Información y la Comunicación - TIC - con el propósito de elevar la oferta y ampluar la cobertura de programas virtuales, así como incrementar los contenidos virtuales en los programas presenciales</p>
            <img src="assets/14_Plan_desarrollo.png" alt="Plan de desarrollo" class="img-fluid">
        </div>
    </div>
</div>
