<div class="container-fluid up-margin white-background">
    <div class="row">
        <div class="col-md-12 text-center">
                <h1 class="main-title">¿QUIENES SOMOS?</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h4>Misión</h4>
            <p>Es responsabilidad de Educación Virtual y TIC de la Universidad de Medellín, contribuir al desarrollo y crecimiento académico atendiendo los principios, valores y fundamentos de la Institución, mediante el fortalecimiento de programas virtuales, la incorporación de las Tecnologías de la Información y las Comunicaciones en la educación presencial y la implementación de productos y servicios innovadores que atiendan las exigencias del mundo actual.</p>
            <br>

            <h4>Visión</h4>
            <p>En el 2020 Educación Virtual y TIC de la Universidad de Medellín será reconocida en el contexto interno y regional por la cobertura de programas virtuales e incorporación de las TIC en la educación presencial; propiciando inclusión digital, gestión de conocimiento y fortalecimiento de la cultura de la virtualidad en los procesos educativos.</p>
            <br>

            <h4>Valores</h4>
            <ul>
                <li>Responsabilidad</li>
                <li>Colaboración</li>
                <li>Excelencia</li>
                <li>Respeto</li>
                <li>Autenticidad</li>
            </ul>
        </div>
    </div>
</div>