<div class="container-fluid up-margin white-background">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="main-title">TALENTO HUMANO</h1>
            <div class="row">
                <div class="col-md-4">
                    <img src="assets/Sandra.png" alt="" class="img-fluid rounded mx-auto d-block">
                    <h6 class="text-left person-name">Sandra Isabel Arango</h6>
                    <p class="text-left person-posiiton">Líder de Educación Virtual y TIC</p>
                </div>
                <div class="col-md-4">
                    <img src="assets/Carolina.png" alt="" class="img-fluid rounded mx-auto d-block">
                    <h6 class="text-left person-name">Carolina Llanos</h6>
                    <p class="text-left person-posiiton">Mediadora de Educación Virtual</p>
                </div>
                <div class="col-md-4">
                    <img src="assets/Jennifer.png" alt="" class="img-fluid rounded mx-auto d-block">
                    <h6 class="text-left person-name">Jennifer Ospina</h6>
                    <p class="text-left person-posiiton">Mediadora de TIC</p>
                </div>
                <div class="col-md-4">
                    <img src="assets/Sebastián.png" alt="" class="img-fluid rounded mx-auto d-block">
                    <h6 class="text-left person-name">Sebastián Paniagua</h6>
                    <p class="text-left person-posiiton">Gestor de Calidad Virtual</p>
                </div>
                <div class="col-md-4">
                    <img src="assets/SantiagoH.png" alt="" class="img-fluid rounded mx-auto d-block">
                    <h6 class="text-left person-name">Santiago Hernández</h6>
                    <p class="text-left person-posiiton">Gestor Digital y Multimedial</p>
                </div>
                <div class="col-md-4">
                    <img src="assets/Edilberto.png" alt="" class="img-fluid rounded mx-auto d-block">
                    <h6 class="text-left person-name">Edilberto Restrepo</h6>
                    <p class="text-left person-posiiton">Gestor Pedagógico Virtual</p>
                </div>
                <div class="col-md-4">
                    <img src="assets/Ricardo.png" alt="" class="img-fluid rounded mx-auto d-block">
                    <h6 class="text-left person-name">Ricardo Becerra</h6>
                    <p class="text-left person-posiiton">Gestor Pedagógico Virtual</p>
                </div>
                <div class="col-md-4">
                    <img src="assets/Liliana.png" alt="" class="img-fluid rounded mx-auto d-block" >
                    <h6 class="text-left person-name">Liliana Vera</h6>
                    <p class="text-left person-posiiton">Gestor de Contenidos Virtuales</p>
                </div>
                <div class="col-md-4">
                    <img src="assets/Martín.png" alt="" class="img-fluid rounded mx-auto d-block">
                    <h6 class="text-left person-name">Martín Vásquez</h6>
                    <p class="text-left person-posiiton">Tutor Virtual</p>
                </div>
                <div class="col-md-4">
                    <img src="assets/Martha.png" alt="" class="img-fluid rounded mx-auto d-block">
                    <h6 class="text-left person-name">Martha Restrepo</h6>
                    <p class="text-left person-posiiton">Tutor Virtual</p>
                </div>
            </div>
        </div>
    </div>
</div>
