<div class="container-fluid home-main-header"></div>
<div class="container-fluid plataformas">
        <h2 class="text-center font-weight-bold">PLATAFORMAS</h2>
    <div class="row">
        <div class="col-md-2 offset-md-1 col-sm-4 col-6">
            <a href="https://uvirtual.udem.edu.co/" class="link-academica" target="_blank">
                <img src="assets/4_Uvirtual_Academica.png" alt="Uvirtual Académica">
            </a>
            <span>ACADÉMICA</span>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
            <a href="https://uvirtualinvestigacion.udem.edu.co/" class="link-investigacion" target="_blank">
                <img src="assets/5_Uvirtual_Investigaciones.png" alt="Uvirtual Investigación">
            </a>
            <span>INVESTIGACIÓN</span>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
            <a href="https://streaming.udem.edu.co/" class="link-streaming" target="_blank">
                <img src="assets/6_Uvirtual_Videos.png" alt="Uvirtual Videos">
            </a>
            <span>STREAMING</span>
        </div>
        <div class="col-md-2 col-sm-4 col-6 ">
            <a href="https://uvirtualevaluaciones.udem.edu.co/" class="link-evaluaciones" target="_blank">
                <img src="assets/7_Uvirtual_Evaluaciones.png" alt="Uvirtual Evaluaciones">
            </a>
            <span>EVALUACIONES</span>
        </div>
        <div class="col-md-2 col-sm-4  col-6 ">
            <a href="https://uvirtualconvocatorias.udem.edu.co/" class="link-convocatorias" target="_blank">
                <img src="assets/8_Uvirtual_Convocatorias.png" alt="Uvirtual Convocatorias">
            </a>
            <span>CONVOCATORIAS</span>
        </div>
    </div>
</div>
<app-carousel-news></app-carousel-news>
