<div class="container-fluid footer-container">
  <div class="row">
    <div class="col-md-12  footer">
    </div>
  </div>
  <div class="row footer-information">
    <div class="col-md-12">
      <p class="text-center"><strong>Educación Virtual y TIC |Universidad de Medellín</strong></p>
      <p class="text-center"><small>Carrera 87 N° 30 - 65 Bloque 11 Oficina 214</small></p>
      <p class="text-center"><small>(57+4) 340 52 05 </small></p>
      <p class="text-center"><small>evirtual@udem.edu.co</small></p>
  </div>
</div>